/* start header */

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

header .navbar-nav .nav-link,
header .navbar-brand {
  color: white;
}
header .navbar .nav-item.active a {
  color: #35a22c;
}

header .navbar .nav-item {
  position: relative;
  margin-left: 10px;
}

header .navbar .nav-item::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background: #35a22c;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

header .navbar .nav-item:hover::before,
header .navbar .nav-item:active::before {
  width: 100%;
}

/* end header */

#carousel .carousel-item {
  height: 100vh;
}
#carousel .carousel-caption img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
#carousel .carousel_item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#carousel .carousel-indicators li {
  border-radius: 50%;
  width: 13px;
  height: 13px;
}
#carousel .carousel-indicators li:active {
  background-color: #35a22c;
}
/* Start project */
.project_tabs .nav-pills .nav-link {
  border: 1px solid black;
  margin: 0 10px;
  color: black;
}

.project_tabs .nav-pills .nav-link.active {
  background-color: #35a22c;
  color: white;
  border-color: #35a22c;
}

.project_tabs .card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border: none;
}
.project_tabs .card-body {
  border: 1px solid transparent;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  transition: 0.5s;
  border-top: none;
}
.project_tabs .card-body:hover {
  border: 1px solid #35a22c;
  border-top: none;
}
.project_tabs .card h5 {
  transition: 0.5s;
}

.project_tabs .card:hover h5 {
  color: #35a22c;
}
/* End project */

/* Start experience */

#experience {
  background-image: url(./img/3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.experience_title {
  color: white;
}

#experience::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.experience_title {
  position: relative;
  z-index: 1;
}
/* End Experience */
